# Best job.

- type: job
  id: ChiefMedicalOfficer
  name: job-name-cmo
  description: job-description-cmo
  playTimeTracker: JobChiefMedicalOfficer
  setPreference: false # Frontier
  requirements:
    - !type:RoleTimeRequirement
      role: JobChemist
      time: 2.5h
    - !type:RoleTimeRequirement
      role: JobMedicalDoctor
      time: 5h
    - !type:DepartmentTimeRequirement
      department: Medical
      time: 10h
  weight: 10
  startingGear: CMOGear
  icon: "JobIconChiefMedicalOfficer"
  supervisors: job-supervisors-captain
  canBeAntag: false
  ## Frontier: commented everything below out
  # access:
  # - Medical
  # - Command
  # - Maintenance
  # - Chemistry
  # - ChiefMedicalOfficer
  # - Brig
  # - Cryogenics
  # special:
  # - !type:AddImplantSpecial
  #   implants: [ MindShieldImplant ]
  # - !type:AddComponentSpecial
  #   components:
  #     - type: CommandStaff
  ## Frontier: commented everything above out
  accessGroups: # Frontier
  - GeneralAccess # Frontier

- type: startingGear
  id: CMOGear
  equipment:
    id: CMOPDA
    ears: ClothingHeadsetCMO
    belt: ClothingBeltMedicalFilled
  storage:
    back:
    - Flash

- type: chameleonOutfit
  id: ChiefMedicalOfficerChameleonOutfit
  job: ChiefMedicalOfficer
  hasMindShield: true
  equipment:
    head: ClothingHeadHatBeretCmo
    eyes: ClothingEyesHudMedical
    mask: ClothingMaskSterile
    neck: ClothingCloakCmo
    outerClothing: ClothingOuterCoatLabCmo
    gloves: ClothingHandsGlovesNitrile
