[submodule "Secrets"]
	path = Secrets
	url = git@github.com:corvax-project/secrets.git
	branch = master
	update = none
[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/Corvax-Frontier/CorvustToolbox
	branch = FronTest
