[submodule "RobustToolbox"]
	path = RobustToolbox
	url = https://github.com/DeltaV-Station/RobustToolbox.git
	branch = master
[submodule "Secrets"]
	path = Secrets
	url = git@github.com:corvax-project/secrets.git
	branch = master
	update = none
