- type: job
  id: HeadOfPersonnel
  name: job-name-hop
  description: job-description-hop
  playTimeTracker: JobHeadOfPersonnelOld # Frontier
  requirements:
    - !type:DepartmentTimeRequirement
      department: Engineering
      time: 9000 # 2.5 hours
    - !type:DepartmentTimeRequirement
      department: Medical
      time: 9000 # 2.5 hours
    - !type:DepartmentTimeRequirement
      department: Science
      time: 9000 # 2.5 hrs
    - !type:DepartmentTimeRequirement
      department: Security
      time: 9000 # 2.5 hrs
    - !type:DepartmentTimeRequirement
      department: Command
      time: 9000 # 2.5 hours
  weight: 20
  startingGear: HoPGear
  icon: "JobIconHeadOfPersonnel"
  supervisors: job-supervisors-captain
  canBeAntag: false
  # Frontier: default access
  # access:
  # - Command
  # - HeadOfPersonnel
  # - Bar
  # - Service
  # - Maintenance
  # - Janitor
  # - Theatre
  # - Kitchen
  # - Chapel
  # - Hydroponics
  # - External
  # - Cryogenics
  # # I mean they'll give themselves the rest of the access levels *anyways*.
  # # As of 15/03/23 they can't do that so here's MOST of the rest of the access levels.
  # # Head level access that isn't their own was deliberately left out, get AA from the captain instead.
  # - Chemistry
  # - Engineering
  # - Research
  # - Detective
  # - Salvage
  # - Security
  # - Brig
  # - Lawyer
  # - Cargo
  # - Atmospherics
  # - Medical
  accessGroups: # Frontier
  - GeneralAccess # Frontier
  # End Frontier
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
  setPreference: false # Frontier

- type: startingGear
  id: HoPGear
  equipment:
    shoes: ClothingShoesColorBrown
    id: HoPPDA
    gloves: ClothingHandsGlovesHop
    ears: ClothingHeadsetAltCommand
    belt: BoxFolderClipboard
  storage:
    back:
    - Flash

- type: chameleonOutfit
  id: HeadOfPersonnelChameleonOutfit
  job: HeadOfPersonnel
  hasMindShield: true
  equipment:
    head: ClothingHeadHatHopcap
    eyes: ClothingEyesHudCommand
    mask: ClothingMaskNeckGaiterRed
    neck: ClothingNeckCloakHop
    outerClothing: ClothingOuterWinterHoP

