- type: job
  id: HeadOfPersonnel
  name: job-name-hop
  description: job-description-hop
  playTimeTracker: JobHeadOfPersonnel
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 36000 # Frontier
    - !type:WhitelistRequirement
  weight: 20
  startingGear: HoPGear
  icon: "JobIconHeadOfPersonnel"
  requireAdminNotify: true
  supervisors: job-supervisors-centcom # Frontier
  canBeAntag: false
  access:
  - Command
  - HeadOfPersonnel
  - Bar
  - Service
  - Frontier
  - Maintenance
  - Janitor
  - Theatre
  - Kitchen
  - Chapel
  - Hydroponics
  - External
  # I mean they'll give themselves the rest of the access levels *anyways*.
  # As of 15/03/23 they can't do that so here's MOST of the rest of the access levels.
  # Head level access that isn't their own was deliberately left out, get AA from the captain instead.
  - Chemistry # Frontier
  - Engineering # Frontier
  - Quartermaster # Frontier
  - Research # Frontier
  - Detective # Frontier
  - Salvage # Frontier
  - Security # Frontier
  - Brig # Frontier
  - Cargo # Frontier
  - Atmospherics # Frontier
  - Medical # Frontier
  - EmergencyShuttleRepealAll # Frontier
  - Captain # Frontier
  - ChiefEngineer # Frontier
  - ChiefMedicalOfficer # Frontier
#  - HeadOfSecurity # Frontier - Whitelist for sheriff only.
  - ResearchDirector # Frontier
  - Armory # Frontier
  - Mercenary # Frontier
  - Pilot # Frontier
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant, TrackingImplant ] # Frontier - Added TrackingImplant
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff

- type: startingGear
  id: HoPGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitHoP
    back: ClothingBackpackHOPFilled
    shoes: ClothingShoesColorBrown
    head: ClothingHeadHatHopcap
    id: HoPPDA
    ears: ClothingHeadsetAltCentCom
    eyes: ClothingEyesGlassesSunglasses
    belt: BoxFolderQmClipboard # Frontier
    neck: ClothingNeckCloakHop # Frontier
    outerClothing: ClothingOuterArmorSRCarapace # Frontier
    pocket1: WeaponDisabler # Frontier
  innerClothingSkirt: ClothingUniformJumpskirtHoP
  satchel: ClothingBackpackSatchelHOPFilled
  duffelbag: ClothingBackpackDuffelHOPFilled
