- type: job
  id: ChiefEngineer
  name: job-name-ce
  description: job-description-ce
  playTimeTracker: JobChiefEngineer
  setPreference: false # Frontier
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 144000 #40 hrs
    - !type:AgeRequirement
      requiredAge: 21
  weight: 10
  startingGear: ChiefEngineerGear
  icon: "JobIconChiefEngineer"
#  requireAdminNotify: true
  supervisors: job-supervisors-hire # Frontier
#  canBeAntag: false
  accessGroups: # Frontier
  - GeneralAccess # Frontier
#  special:
#  - !type:AddImplantSpecial
#    implants: [ MindShieldImplant ]
#  - !type:AddComponentSpecial
#    components:
#      - type: CommandStaff

- type: startingGear
  id: ChiefEngineerGear
  equipment:
    id: CEPDA
    eyes: ClothingEyesGlassesMeson
    ears: ClothingHeadsetCE
    belt: ClothingBeltUtilityEngineering
  storage:
    back:
    - Flash
