- type: job
  id: Brigmedic
  name: job-name-brigmedic
  description: job-description-brigmedic
  playTimeTracker: JobBrigmedic
  requirements:
    - !type:DepartmentTimeRequirement
      department: Security
      time: 21600 # 6 hrs
    - !type:OverallPlaytimeRequirement
      time: 36000 # Frontier - 10 hrs
  startingGear: BrigmedicGear
  icon: "JobIconBrigmedic" # Frontier
  supervisors: job-supervisors-bailiff
  canBeAntag: false
  accessGroups: # Frontier
  - GeneralNfsdAccess # Frontier
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant, TrackingImplant ]

- type: startingGear
  id: BrigmedicGear
  equipment:
    ears: ClothingHeadsetNfsdCreamMed # Frontier
    pocket1: WeaponPistolMk58 #WeaponPistolMk58Nonlethal
