- type: job
  id: SecurityCadet
  name: job-name-cadet
  description: job-description-cadet
  playTimeTracker: JobSecurityCadet
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 10800
    - !type:DepartmentTimeRequirement
      department: Security
      time: 36000 # Frontier - 10 hrs
      inverted: true # stop playing intern if you're good at security!
  startingGear: SecurityCadetGear
  icon: "JobIconSecurityCadet" # Frontier
  supervisors: job-supervisors-hos # Frontier
  canBeAntag: false
  access:
  - Security
  - Brig
  - Maintenance
  - Service # Frontier
  - External # Frontier
  - Mercenary # Frontier
  - Captain # Frontier
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant, TrackingImplant ]

- type: startingGear
  id: SecurityCadetGear
  equipment:
    jumpsuit: ClothingUniformJumpsuitNfsdShort # Frontier
    back: ClothingBackpacknfsdFilled # Frontier
    shoes: ClothingShoesBootsNFSDBrown # Frontier
    outerClothing: ClothingOuterArmorNfsdArmor # Frontier
    id: NfsdCadet # Frontier
    ears: ClothingHeadsetNFSDbrown # Frontier
    pocket1: WeaponPistolMk58Nonlethal
    pocket2: BookSecurity
    gloves: ClothingHandsGlovesCombatNfsdBrown # Frontier
    belt: ClothingBeltNfsd # Frontier
    head: ClothingHeadHatNfsdSmallCampaign # Frontier
    eyes: ClothingEyesGlassesNFSD # Frontier
    neck: ClothingNeckNfsdBadgeSecurityCadet # Frontier
  innerClothingSkirt: ClothingUniformJumpskirtNfsdShort # Frontier
  satchel: ClothingBackpackSatchelnfsdFilled # Frontier
  duffelbag: ClothingBackpackDuffelnfsdFilled # Frontier
  messenger: ClothingBackpackMessengerSecurityFilled # Frontier
