- type: job
  id: Sheriff
  name: job-name-sheriff
  description: job-description-sheriff
  playTimeTracker: JobHeadOfSecurity
  requirements:
    - !type:OverallPlaytimeRequirement
      time: 129600 # Frontier - 36 hours
    - !type:RoleTimeRequirement
      role: JobSeniorOfficer
      time: 43200 # Frontier - 12 hours
    - !type:RoleTimeRequirement
      role: JobWarden
      time: 21600 # Frontier - 6 hours
    - !type:DepartmentTimeRequirement
      department: Security
      time: 86400 # 24 hours
  whitelisted: true
  weight: 10
  startingGear: SheriffGear
  alwaysUseSpawner: true
  icon: "JobIconHeadOfSecurity" # Frontier
  requireAdminNotify: true
  supervisors: job-supervisors-centcom
  whitelistRequired: true
  canBeAntag: false
  accessGroups:
  - AllAccess
  special:
  - !type:AddImplantSpecial
    implants: [ MindShieldImplant, TrackingImplant ]
  - !type:AddComponentSpecial
    components:
      - type: CommandStaff
  - !type:GiveItemOnHolidaySpecial
    holiday: FrontierBirthday
    prototype: FrontierBirthdayGift

- type: startingGear
  id: SheriffGear
  equipment:
    ears: ClothingHeadsetAltNfsdCreamandBrown # Frontier
    pocket1: WeaponPistolMk58 #WeaponPistolMk58Nonlethal
    pocket2: HoloprojectorNfsd # Frontier
  storage:
    back:
    - NfsdTechFabFlatpack
    - Multitool
    - WeaponEnergyGunMultiphase # Frontier - DeltaV gun
    - DoorRemoteNfsd
    - BaseSecurityUplinkRadioSheriff
    - ClothingNeckNfsdBadgeSheriff
    - RubberStampSheriff